pygame-ce>=2.5.0
PySide6==6.11.1
Pillow>=10.0.0
mss>=10.0.0
numpy>=2.0.0,<2.4
opencv-contrib-python==4.10.0.84
--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddlepaddle==3.2.2; python_version < "3.14"
paddleocr==3.5.0
